.drop-token-button {
    -fx-background-color: #768bad;
    -fx-font-size: 14px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-margin: 5px;
}

.drop-token-button:hover {
    -fx-background-color: #4e5e78;
    -fx-cursor: hand;
}
