.drop-token-button {
    -fx-background-color: #64bb88;
    -fx-font-size: 14px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-margin: 5px;
}

.drop-token-button:hover {
    -fx-background-color: #539b71;
    -fx-cursor: hand;
}
