.button-modern {
    -fx-background-color: #64bb88;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button-modern:hover {
    -fx-background-color: #539b71;
    -fx-cursor: hand;
}